# EditorConfig is awesome: https://EditorConfig.org

# top-level EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# JSON, YAML, HTML, CSS, Markdown settings
[*.{json,yml,yaml,html,css,scss,md}]
indent_size = 2

# Python settings
[*.py]
indent_size = 4

# TypeScript/JavaScript settings
[*.{ts,js}]
indent_size = 2
max_line_length = 120
